<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title><%= title %></title>

    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
        <div class="row row-centered">
            <div class="col-xs-12 col-centered">
                <h1><%= title %></h1>
                <form id="speakData" class="form-horizontal">
                    <div class="row form-group">
                        <div class="col-xs-12">
                            <div id="inp_txt">
                                <input type="text" name="text" size=80 value="Type something" class="txt form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row form-group unfinished">
                      <label for="voice" class="col-md-2 control-label">Voice</label>
                      <div class="col-md-10 row">
                          <div class="col-xs-12 col-md-10">
                              <select name="voice" id="voiceSelect" class="form-control" onchange="loadVoice(this.options[this.selectedIndex].value);">
                                    <option value="ca">ca - Catalan</option>
                                    <option value="cs">cs - Czech</option>
                                    <option value="de">de - German</option>
                                    <option value="el">el - Greek</option>
                                    <option value="en/en" selected="selected">en - English</option>
                                    <option value="en/en-n">en-n - English, regional</option>
                                    <option value="en/en-rp">en-rp - English, regional</option>
                                    <option value="en/en-sc">en-sc - English, Scottish</option>
                                    <option value="en/en-us">en-us - English, US</option>
                                    <option value="en/en-wm">en-wm - English, regional</option>
                                    <option value="eo">eo - Esperanto</option>
                                    <option value="es">es - Spanish</option>
                                    <option value="es-la">es-la - Spanish, Latin America</option>
                                    <option value="fi">fi - Finnish</option>
                                    <option value="fr">fr - French</option>
                                    <option value="hu">hu - Hungarian</option>
                                    <option value="it">it - Italian</option>
                                    <option value="kn">kn - Kannada</option>
                                    <option value="la">la - Latin</option>
                                    <option value="lv">lv - Latvian</option>
                                    <option value="nl">nl - Dutch</option>
                                    <option value="pl">pl - Polish</option>
                                    <option value="pt">pt - Portuguese, Brazil</option>
                                    <option value="pt-pt">pt-pt - Portuguese, European</option>
                                    <option value="ro">ro - Romanian</option>
                                    <option value="sk">sk - Slovak</option>
                                    <option value="sv">sv - Swedish</option>
                                    <option value="tr">tr - Turkish</option>
                                    <option value="zh">zh - Mandarin Chinese (Pinyin)</option>
                                    <option value="zh-yue">zh-yue - Cantonese Chinese</option>
                                </select>
                          </div>
                          <div class="col-xs-2">
                          </div>
                      </div>
                    </div>
                    <div class="row form-group">
                      <label for="variant" class="col-md-2 control-label">Voice</label>
                      <div class="col-md-10 row">
                          <div class="col-xs-12 col-md-10">
                              <select name="variant" id="variantSelect" class="form-control">
                              	<option value="" selected>None</option>
                              	<option value="f1">f1 (female 1)</option>
                              	<option value="f2">f2 (female 2)</option>
                              	<option value="f3">f3 (female 3)</option>
                              	<option value="f4">f4 (female 4)</option>
                              	<option value="f5">f5 (female 5)</option>
                              	<option value="m1">m1 (male 1)</option>
                              	<option value="m2">m2 (male 2)</option>
                              	<option value="m3">m3 (male 3)</option>
                              	<option value="m4">m4 (male 4)</option>
                              	<option value="m5">m5 (male 5)</option>
                              	<option value="m6">m6 (male 6)</option>
                              	<option value="m7">m7 (male 7)</option>
                              	<option value="croak">croak</option>
                              	<option value="klatt">klatt</option>
                              	<option value="klatt2">klatt2</option>
                              	<option value="klatt3">klatt3</option>
                              	<option value="whisper">whisper</option>
                              	<option value="whisperf">whisperf (female)</option>
                              </select>
                          </div>
                          <div class="col-xs-2">
                          </div>
                      </div>
                    </div>
                    <div class="row form-group">
                      <label for="speed" class="col-md-2 control-label">Speed</label>
                      <div class="col-md-10 row">
                          <div class="col-xs-10">
                              <input type="range" name="speed" min="0" max="1000" value="175" step="1" id="rate">
                          </div>
                          <div class="col-xs-2">
                              <div class="rate-value unfinished">1</div>
                          </div>
                      </div>
                    </div>
                    <div class="row form-group">
                      <label for="pitch" class="col-md-2 control-label">Pitch</label>
                      <div class="col-md-10 row">
                          <div class="col-xs-10">
                              <input type="range" name="pitch" min="0" max="100" value="50" step="1" id="pitch">
                          </div>
                          <div class="col-xs-2">
                              <div class="pitch-value unfinished">1</div>
                          </div>
                      </div>
                    </div>
                    <div class="row form-group unfinished">
                      <label for="amplitude" class="col-md-2 control-label">Amplitude</label>
                      <div class="col-md-10 row">
                          <div class="col-xs-10">
                              <input type="text" name="amplitude" size=5 value="100" />
                          </div>
                      </div>
                    </div>
                    <div class="row form-group unfinished">
                      <label for="wordgap" class="col-md-2 control-label">Word gap</label>
                      <div class="col-md-10 row">
                          <div class="col-xs-10">
                              <input type="text" name="wordgap" size=5 value="0" />
                          </div>
                      </div>
                    </div>
                    <div class="row form-group">
                        <div class="grp_buttons">
                            <button class="btn btn-primary" type="submit">Play</button>
                            <button class="btn btn-primary" onclick="meSpeak.stop(); return false;">Stop</button>
                            <a class="btn btn-default" id="btn_share" href="#" target="_blank">Share</a>
                        </div>
                    </div>
                </form>
                <p id="linkdisplay"></p>
            </div>
        </div>
    </div>
    <script src="../javascripts/mespeak.full.js"></script>
    <script src="../javascripts/controller.js"></script>
    <script type="text/javascript">
      initMeSpeak();
      initSpeechForm();
    </script>
  </body>
</html>
